{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}
    Certificações
{% endblock title %}

{% block content %}

    <h2>🧠 Adicionar Habilidades</h2>

    {% include "profiles/skills/modal_skill.html" %}

    <div class="container mt-4">

        <form class="row" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="col-sm-12 col-md-8 mb-3">
                <label for="{{ form.skill.id_for_label }}" class="form-label">{{ form.skill.label }}: {% if form.skill.field.required %}<span class="text-danger">*</span>{% endif %}</label>
                {% render_field form.skill class="form-select" %}
                {% for error in form.skill.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
                <div class="invalid-feedback">
                    Este campo é obrigatório
                </div>
            </div>

            <div class="col-sm-6 col-md-4 mb-3">
                <label for="{{ form.level.id_for_label }}" class="form-label">{{ form.level.label }}: {% if form.level.field.required %}<span class="text-danger">*</span>{% endif %}</label>
                
                <div class="input-group">
                    {% render_field form.level class="form-select" %}
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#ModalHabilidadeNivel">
                        <i class="bi bi-question-lg"></i>
                    </button>
                </div>

                {% for error in form.level.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
                <div class="invalid-feedback">
                    Este campo é obrigatório
                </div>
            </div>

            <!-- Observações -->
            <div class="col-12 mb-3">
                <label for="{{ form.notes.id_for_label }}" class="form-label">
                    {{ form.notes.label }}:
                </label>
                {% render_field form.notes class="form-control" rows="3" %}
                {% for error in form.notes.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="col-12 mb-3">
                <div class="g-1">
                    <!-- ===== BOTOES ===== -->
                    {% if not is_detail %}
                        <button type="submit" class="btn btn-success me-1">
                            <i class="bi bi-check-lg me-1"></i> Salvar
                        </button>
                        <button type="reset" class="btn btn-warning me-1">
                            <i class="bi bi-x me-1"></i> Limpar
                        </button>
                    {% else %}
                        <a href="{% url 'profiles:habilidades_update' skill.pk %}" title="Editar Registro" class="btn btn-primary me-1">
                            <i class="bi bi-pencil"></i> Editar
                        </a>
                    {% endif %}
                    <button type="button" onclick="window.history.go(-1)" class="btn btn-secondary">
                        <i class="bi bi-arrow-return-left me-1"></i>Voltar
                    </button>
                </div>
            </div>
        </form>
    </div>
        

{% endblock content %}