{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}
    Inicio - Telentos
{% endblock title %}

{% block content %}
    {% include "menu.html" %}


    <h1>Meu Perfil</h1>

    <p>
        <strong>Usuário:</strong> {{ user.username }}<br>
        <strong>Matrícula:</strong> xxx<br>
        <strong>Nome:</strong> {{ user.get_full_name }}<br>
        <strong>Cargo:</strong> {{ object.position }}
    </p>

    <hr>

    <h2>Habilidades</h2>
    <div class="row g-1">
        {% for skill in object.skills.all %}
            <div class="col-6 col-sm-3 col-md-2 col-xl-2 col-xxl-1">
                <div class="card shadow-sm">
                    <div class="card-body p-2 text-center">
                        <h6 class="card-title mb-1">{{ skill.skill.name }}</h6>
                        <p class="card-text small mb-0">
                            {% if skill.get_level_display == "Básico" %}
                                <i class="bi bi-star-fill"></i><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i>
                            {% elif skill.get_level_display == "Intermediário" %}
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star"></i><i class="bi bi-star"></i>
                            {% elif skill.get_level_display == "Avançado" %}
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star"></i>
                            {% elif skill.get_level_display == "Especialista" %}
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                            {% endif %}
                        </p>
                    </div>
                    <div class="card-footer small py-1">
                        {{ skill.years_experience }} anos
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-12">
                <p class="small">Nenhuma habilidade cadastrada.</p>
            </div>
        {% endfor %}
    </div>

    <hr>

    <h2>Certificações</h2>






{% endblock content %}
