<div class="modal fade" id="delete-{{ item.pk }}" tabindex="-1">
    <div class="modal-dialog modal-md">
        <div class="modal-content">

            <!-- Cabeçalho vermelho -->
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">
                    <i class="bi bi-trash3"></i>
                    Apagar
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <p class="mb-2">Deseja excluir o registro?</p>
                <p class="small"><b>Sistema:</b> {{ item.system.name  }}</p>
                <p class="small text-muted mb-0">* Esta ação não poderá ser desfeita</p>
            </div>

            <div class="modal-footer">
                <form method="post" action="{% url 'profiles:sistemas_delete' item.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">
                        <i class="bi bi-check-lg"></i>
                        Confirmar
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        <i class="bi bi-x-lg"></i>
                        Cancelar
                    </button>
                </form>
            </div>

        </div>
    </div>
</div>