{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Telentos{% endblock title %}

{% block content %}

{% include "alerts.html" %}

<div class="container mt-5">
    <div class="row align-items-center g-4">

        <!-- Imagem -->
        <div class="col-md-6">
            <div class="border-0">
                <img src="{% static 'img/brasao.png' %}" class="img-fluid w-75" alt="Brasão">
            </div>
        </div>

        <!-- Texto -->
        <div class="col-md-6">
            <section>
                <h2 class="fw-bold d-flex align-items-center">
                    <span class="me-2">🧩</span> Banco de Talentos
                </h2>

                <p class="lead-sm">
                    O Banco de Talentos é fundamental para otimizar a gestão de pessoas e fortalecer a estratégia
                    organizacional. Ele mantém um registro estruturado e atualizado de profissionais com diferentes
                    habilidades, formações e experiências.
                </p>

                <h4 class="fw-semibold mt-4">Contribuições principais</h4>

                <ul class="list-group list-group-flush mb-4">
                    <li class="list-group-item">
                        <strong>Agilidade na seleção:</strong>
                        reduz tempo e custos ao possuir um conjunto qualificado de candidatos.
                    </li>
                    <li class="list-group-item">
                        <strong>Aproveitamento de competências internas:</strong>
                        identifica colaboradores aptos para novos projetos, promoções ou realocações.
                    </li>
                    <li class="list-group-item">
                        <strong>Planejamento de sucessão e desenvolvimento:</strong>
                        permite identificar lacunas e direcionar treinamentos focados.
                    </li>
                    <li class="list-group-item">
                        <strong>Transparência e equidade:</strong>
                        amplia a visibilidade das oportunidades e assegura consideração baseada em dados.
                    </li>
                    <li class="list-group-item">
                        <strong>Fortalecimento da cultura organizacional:</strong>
                        valoriza habilidades e estimula o crescimento profissional.
                    </li>
                </ul>
            </section>
        </div>

    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">TELENTOS - LOGIN</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Formulário -->
                <form method="post" role="form" class="form-signin">
                    {% csrf_token %}
                    <!-- Usuário -->
                    <div class="form-floating mb-3">
                        {% render_field form.username class="form-control" placeholder="Usuário" %}
                        <label for="id_username">Usuário:</label>
                    </div>
                    <!-- Senha -->
                    <div class="form-floating">
                        {% render_field form.password class="form-control" placeholder="Senha" %}
                        <label for="id_password">Senha:</label>
                    </div>
                    <div class="mt-1 mb-3">
                        <div class="d-none">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="remember_me" id="remember_me">
                                <label class="form-check-label" for="remember_me">
                                    Lembre-me
                                </label>
                            </div>
                        </div>
                        <div class="text-end">
                            <a href="{% url 'reset_password' %}" class="link-underline-primary">Esqueci a Senha</a>
                        </div>
                    </div>
                    <!-- Botão -->
                    <button type="submit" class="btn btn-success w-100 w-100">
                        Entrar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}