{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}


{% block content %}
{% include "menu.html" %}
{% include "alerts.html" %}  

<div class="d-flex justify-content-center mt-5">
    <div style="max-width: 330px; width: 100%;">

    <h2>Redefinir senha</h2>

    <form method="post" role="form" class="form-signin">
        {% csrf_token %}
        
        <div class="col-sm-12 col-md-12 mb-3 mt-3">
            <label for="{{ form.email.id_for_label }}" class="form-label">{{ form.email.label }}: <span class="text-danger">*</span></label>
            {% render_field form.email class="form-control" placeholder="Informe o e-mail" %}
            {% for error in form.email.errors %}
                <div class="invalid-feedback">
                    <span class="text-danger">{{ error }}</span>
                </div>
            {% endfor %}
        </div>

        <button type="submit" class="btn btn-success w-100 w-100">
            Enviar Recuperação
        </button>
    </form>


</div>
</div>

{% endblock content %}
