{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}


{% block content %}
{% include "menu.html" %}
{% include "alerts.html" %}  

<div class="d-flex justify-content-center mt-5">
    <div style="max-width: 330px; width: 100%;">
        <h2 class="text-center">Solicitação Enviada!</h2>
        <p class="text-center">Verifique seu e-mail para redefinir a senha.</p>

        <p class="text-center">
            <a href="{% url 'index' %}" class="btn btn-primary">Login</a>
        </p>
    </div>
</div>

{% endblock content %}
