{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}


{% block content %}
{% include "menu.html" %}
{% include "alerts.html" %}  

<div class="d-flex justify-content-center mt-5">
    <div style="max-width: 330px; width: 100%;">



<div>
{% if validlink %}
    <h2>Redefinir Senha</h2>

    <form method="post" class="row">
        {% csrf_token %}

        <div class="col-12 mb-3 mt-3">
            <label for="{{ form.new_password1.id_for_label }}" class="form-label">
                {{ form.new_password1.label }}: <span class="text-danger">*</span>
            </label>
            {% render_field form.new_password1 class="form-control" placeholder="Digite a nova senha" %}
            {% if form.new_password1.errors %}
                <div class="invalid-feedback d-block">
                    {% for error in form.new_password1.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>

    <div class="col-12 mb-3">
        <label for="{{ form.new_password2.id_for_label }}" class="form-label">
            {{ form.new_password2.label }}: <span class="text-danger">*</span>
        </label>
        {% render_field form.new_password2 class="form-control" placeholder="Digite a nova senha" %}
        {% if form.new_password2.errors %}
            <div class="invalid-feedback d-block">
                {% for error in form.new_password2.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
    </div>
        <div class="col-12">
            <button type="submit" class="btn btn-success w-100 w-100">
                Alterar senha
            </button>
        </div>
    </form>
</div>


    <ul class="list-group fw-lighter lh-1 mt-3 text-muted">
        <li class="list-group-item d-flex align-items-start">
            Sua senha não pode ser muito parecida com o resto das suas informações pessoais.
        </li>
        <li class="list-group-item d-flex align-items-start">
            Sua senha precisa conter pelo menos 8 caracteres.
        </li>
        <li class="list-group-item d-flex align-items-start">
            Sua senha não pode ser uma senha comumente utilizada.
        </li>
        <li class="list-group-item d-flex align-items-start">
            Sua senha não pode ser inteiramente numérica.
        </li>
    </ul>

</div>
    {% else %}
        <div class="alert alert-danger mt-3 text-center" role="alert">
            O link de redefinição de senha é inválido ou já foi utilizado.
        </div>
    {% endif %}

</div>

{% endblock content %}
