{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Perfil{% endblock title %}

{% block content %}

    <h2>👤 Meu Perfil</h2>

    <div class="container mt-4">

        <form class="row" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="col-sm-12 col-md-12 mb-3">
                <label class="form-label">Nome Completo:</label>
                <input type="text" class="form-control" value="{{ request.user.get_full_name }}" readonly>
            </div>

            <div class="col-sm-12 col-md-3 mb-3">
                <label for="{{ form.registration.id_for_label }}" class="form-label">{{ form.registration.label }}: {% if form.registration.field.required %}<span class="text-danger">*</span>{% endif %}</label>
                {% render_field form.registration class="form-control" %}
                {% for error in form.registration.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
                <div class="invalid-feedback">
                    Este campo é obrigatório
                </div>
            </div>

            <div class="col-sm-12 col-md-3 mb-3">
                <label for="{{ form.admission_date.id_for_label }}" class="form-label">{{ form.admission_date.label }}: {% if form.admission_date.field.required %}<span class="text-danger">*</span>{% endif %}</label>
                {% render_field form.admission_date class="form-control" %}
                {% for error in form.admission_date.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
                <div class="invalid-feedback">
                    Este campo é obrigatório
                </div>
            </div>

            <div class="col-sm-12 col-md-6 mb-3">
                <label for="{{ form.function.id_for_label }}" class="form-label">{{ form.function.label }}: {% if form.function.field.required %}<span class="text-danger">*</span>{% endif %}</label>
                {% render_field form.function class="form-select" %}
                {% for error in form.function.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
                <div class="invalid-feedback">
                    Este campo é obrigatório
                </div>
            </div>

<div class="col-sm-12 col-md-8 mb-3">
    <label for="{{ form.public.id_for_label }}" class="form-label">
        {{ form.public.label }}:
        {% if form.public.field.required %}
            <span class="text-danger">*</span>
        {% endif %}
    </label>

    <div class="form-check form-switch">
        {% render_field form.public class="form-check-input" %}
        <label class="form-check-label" for="{{ form.public.id_for_label }}">
            {% if form.public.value %}
                Público
            {% else %}
                Privado
            {% endif %}
        </label>
    </div>

    {% for error in form.public.errors %}
        <span class="text-danger">{{ error }}</span>
    {% endfor %}
</div>

            <div class="col-12">
                <div class="g-2">
                    <button type="submit" class="btn btn-success">
                        <i class="bi bi-check-lg"></i> Salvar
                    </button>
                    <a href="{% url 'home' %}" class="btn btn-secondary">
                        <i class="bi bi-arrow-return-left"></i> Voltar
                    </a>
                </div>
            </div>

        </form>

    </div>

{% endblock content %}
