<div class="bg-body-tertiary"> 
    <div class="container"> 
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">TALENTOS</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% if user.is_authenticated %}

                        <!-- Editar Dados -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                                Editar
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="{% url "profiles:perfil_edit" %}">
                                        👤 Perfil
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'alterar_senha' %}">
                                        🔒 Alterar Senha
                                    </a>
                                </li>

                                <li>
                                    <hr class="dropdown-divider">
                                </li>

                                <li>
                                    <a class="dropdown-item" href="{% url 'profiles:habilidades_list' %}">
                                        🧠 Habilidades
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'profiles:sistemas_list' %}">
                                        🖥️ Sistemas
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'profiles:certificados_list' %}">
                                        📜 Certificados
                                    </a>
                                </li>

                            </ul>
                        </li>

                        <!-- Perfil Publico -->
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'skills:all_cargos' %}">
                                Cargos
                            </a>
                        </li>

                        <!-- Perfil Publico -->
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'profiles:perfis_publicos' %}">
                                Servidores
                            </a>
                        </li>

                        <!-- SuperUser -->
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'admin:index' %}">
                                SuperUser
                            </a>
                        </li>

                        {% endif %}
                    </ul>

                <!-- LADO DIREITO -->
                <form class="d-flex" role="search">
                    {% if user.is_authenticated %}
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
                            <li class="nav-item">
                                {% include "theme.html" %}
                            </li>

                            <li class="nav-item">
                                <span class="nav-link">
                                    Olá {{ user.get_full_name|default:user.username }}
                                </span>
                            </li>
                        </ul>
                        <button class="btn btn-outline-danger"
                                type="button"
                                data-bs-toggle="modal"
                                data-bs-target="#sair">
                            SAIR
                        </button>
                    {% else %}
                        {% if request.resolver_match.url_name == 'login' %} 
                            <div class="g-1">
                                <a class="btn btn-outline-dark" aria-current="page" href="{% url 'skills:all_cargos' %}">
                                    CARGOS
                                </a>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                    ENTRAR
                                </button>
                            </div>
                        {% endif %}
                    {% endif %}
                </form>
            </div>
        </div>
    </nav>
    </div>
</div>

<!-- Modal de confirmação de saída -->
<div class="modal" id="sair" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Deseja mesmo sair?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    {{ user.get_full_name|default:user.username }}<br>
                    Confirme para sair do sistema
                </p>
            </div>
            <div class="modal-footer">
                <form method="POST" action="{% url 'logout' %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">
                        <i class="bi bi-door-closed"></i> Sair
                    </button>
                </form>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
